/* Style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    color: white;
}

body {
    background: white;
    padding: 0;
    margin: 0;
}

/* Nav Bar */
header {
    display: block;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menucolumn {
    display: flex;
    flex-direction: column;
}

/* Logo */
.logo-column {
    display: flex;
    width: 120px;
    height: 118.003px;
    padding: 0.002px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.headliner-h1 {
    width: 236px;
    height: 51px;
    flex-shrink: 0;
    color: #000;
    font-family: "Racing Sans One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headliner-text {
    width: 740px;
    height: 418px;
    flex-shrink: 1;
    color: #000;
    font-family: Inter;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.trion-header-text {
    display: flex;
    width: 424px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Forza;
    font-size: 40px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    text-align: center;
}

.logo-column img {
    width: 15%;
}

.pfp img {
    width: 20%;
}

/* Cover */
.cover1 {
    background-image: url(/configure-car/carday.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

/* Content */
.content1 {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.front {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.front img {
    padding: 10px;
    width: 40%;
}

#id {
    display: flex;
}

/* TRION ORANGE CAR */
.TRION-ORANGE{
    width: 1366px;
    height: 435px;
    flex-shrink: 0;
    background: url(Trion-Supercars-Images/homepage-images/Nemesis_Interior_render_test1.jpg) lightgray 50% / cover no-repeat;
}

/* Footer */
footer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer ul {
    list-style-type: none;
}

.bluebox {
    border: solid blue;
    background-color: blue;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.bluebox:hover {
    border: darkblue;
    background-color: darkblue;
    width: fit-content;
    height: fit-content;
}

.bluebutton {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
}

body {
    font-family: "Forza", sans-serif;
}

/* SIDEBAR MENU */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Misc. */
a {
    display: flex;
    flex-direction: row;
}