/* Style */
nav {
    color: white;
}

body {
    background: black;
    padding: 0;
    margin: 0;
}

/* Nav Bar */
nav {
    display: block;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* Logo */
.logo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-column img {
    width: 15%;
}

.pfp img {
    width: 20%;
}

/* Cover */
.cover1 {
    background-image: url(/Trion-Supercars-Images/instagram/trionnemesissupercars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

/* Content */
.content1 {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.front {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.front img {
    padding: 10px;
    width: 40%;
}

#id {
    display: flex;
}

/* Footer */
