.trionorangesupercars2-icon {
    position: absolute;
    top: 0px;
    left: 578px;
    width: 862px;
    height: 1366px;
    object-fit: cover;
}
.trionorangesupercars8 {
    position: absolute;
    top: 0px;
    left: 749px;
    width: 691px;
    height: 1515px;
}
.logo-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 118px;
    object-fit: cover;
    cursor: pointer;
}
.account-child {
    position: absolute;
    top: -3349px;
    left: 56px;
    background-color: #2f2d2d;
    width: 1374px;
    height: 1225px;
}
.trion-log-in {
    position: absolute;
    top: 118px;
    left: 54px;
    font-size: 63px;
    display: flex;
    font-family: Forza;
    align-items: center;
    justify-content: center;
    width: 389px;
    height: 90px;
}
.new-to-trion {
    position: absolute;
    top: 539px;
    left: 54px;
    font-size: 63px;
    display: flex;
    font-family: Forza;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 90px;
}
.vector-icon {
    position: absolute;
    height: 50%;
    width: 75.05%;
    top: 25%;
    right: 12.45%;
    bottom: 25%;
    left: 12.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icsharp-menu {
    position: absolute;
    top: 0px;
    left: 7px;
    width: 95px;
    height: 79px;
    overflow: hidden;
}
.account-item {
    position: absolute;
    top: 274px;
    left: 57px;
    border-radius: 26px;
    background-color: #d9d9d9;
    width: 455px;
    height: 66px;
}
.account-inner {
    position: absolute;
    top: 679px;
    left: 57px;
    border-radius: 26px;
    background-color: #d9d9d9;
    width: 455px;
    height: 66px;
}
.rectangle-div {
    position: absolute;
    top: 390px;
    left: 57px;
    border-radius: 26px;
    background-color: #d9d9d9;
    width: 455px;
    height: 66px;
}
.account-child1 {
    position: absolute;
    top: 795px;
    left: 57px;
    border-radius: 26px;
    background-color: #d9d9d9;
    width: 455px;
    height: 66px;
}
.line-div {
    position: absolute;
    top: 920px;
    left: 52px;
    border-top: 4px solid #000;
    box-sizing: border-box;
    width: 476px;
    height: 4px;
}
.sign-apple-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 26px;
    background-color: #d9d9d9;
    width: 455px;
    height: 66px;
}
.icbaseline-apple-icon {
    position: absolute;
    top: 0px;
    left: 16px;
    width: 66px;
    height: 66px;
    overflow: hidden;
}
.sign-in-with {
    position: absolute;
    top: 13px;
    left: 86px;
    display: inline-block;
    width: 295px;
    height: 45px;
}
.sign-apple {
    position: absolute;
    top: 974px;
    left: 57px;
    width: 455px;
    height: 66px;
}
.password {
    position: absolute;
    top: 806px;
    left: 143px;
    display: inline-block;
    width: 295px;
    height: 45px;
}
.email {
    position: absolute;
    top: 690px;
    left: 143px;
    display: inline-block;
    width: 295px;
    height: 45px;
}
.email1 {
    position: absolute;
    top: 285px;
    left: 143px;
    display: inline-block;
    width: 295px;
    height: 45px;
}
.password1 {
    position: absolute;
    top: 401px;
    left: 143px;
    display: inline-block;
    width: 295px;
    height: 45px;
}
.bigoogle-icon {
    position: absolute;
    top: 10px;
    left: 28px;
    width: 47px;
    height: 47px;
    overflow: hidden;
}
.sign-in-with1 {
    position: absolute;
    top: 10px;
    left: 86px;
    display: inline-block;
    width: 295px;
    height: 45px;
}
.sign-google {
    position: absolute;
    top: 1070px;
    left: 57px;
    width: 455px;
    height: 66px;
}
.sign-in-with2 {
    position: absolute;
    top: 16px;
    left: 91px;
    display: inline-block;
    width: 332px;
    height: 45px;
}
.mdimicrosoft-icon {
    position: absolute;
    top: 9px;
    left: 30px;
    width: 51px;
    height: 51px;
    overflow: hidden;
}
.sign-microsof {
    position: absolute;
    top: 1166px;
    left: 52px;
    width: 455px;
    height: 66px;
}
.sign-in-with3 {
    position: absolute;
    top: 11px;
    left: 91px;
    display: inline-block;
    width: 340px;
    height: 45px;
}
.icround-facebook-icon {
    position: absolute;
    top: 0px;
    left: 21px;
    width: 65px;
    height: 65px;
    overflow: hidden;
}
.sign-facebook {
    position: absolute;
    top: 1262px;
    left: 52px;
    width: 455px;
    height: 66px;
}
.icsharp-menu1 {
    position: absolute;
    top: 0px;
    left: 7px;
    width: 95px;
    height: 79px;
    overflow: hidden;
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 8px;
    left: 102px;
    font-size: 40px;
    font-weight: 500;
    font-family: Forza;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111px;
    height: 64px;
}
.account {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1366px;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    color: #000;
    font-family: Inter;
}

