@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
html {
    margin: 0;

    /* overflow: hidden; */
}

body {
    margin: 0;

    width: 100%;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

/* Don't Edit Above */

/* Header */

header {
    width: 100%;
    height: 7em;

    background-color: #D9D9D9;
}

header nav {
    display: flex;

    height: 100%;
}

header nav ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    
    margin: 0em 2em;
    padding: 0;
}

/* Section */

section {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: grey;
    
    width: 100%;

    margin: 1em 0em;
}

.scroll {
    display: flex;
    overflow-x: scroll;

    width: 90%;

    margin: 0 2em;
}

.image img {
    width: 400px;
    height: 500px;
    margin: 0 1em;
}

.header {
    border-left: black solid 2px;
    padding-left: 2em;
    padding-right: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Footer */

footer {
    background: #3c3c3c;

    display: flex;
    justify-content: space-around;

    width: 100%;

    color: white;
}

footer div, footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

.sub {
    display: flex;
    flex-direction: row;
}

.subbox {
    background-color: white;

    width: 220px;
    height: 40px;
}

.subboxclick {
    cursor: pointer;

    background-color: black;

    width: 40px;
    height: 40px;
}

/*sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0.80) 1.04%, rgba(0, 0, 0, 0.80) 21.44%, rgba(52, 52, 52, 0.80) 47.67%, rgba(114, 114, 114, 0.80) 70.01%, rgba(165, 165, 165, 0.80) 98.18%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 40px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-family: forza;
}

.sidebar .list:hover {
    color: #005FB2;
}

.closebtn:hover {
    color: #00294d;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .sidenav a {
        font-size: 18px;
    }
/* end of sidebar*/
  

main {

        position: absolute;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        color: white;
    
        position: relative;
    }


.shop-logo  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.click  {
    display: flex;
    
    color: white;
}

/* ??? */

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

