@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
body{
    margin: 0;
    line-height: normal;
}

.hero-image-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.logo-icon {
    position: absolute;
    top: 0px;
    left: 40%;
    width: 120px;
    height: 118px;
    object-fit: cover;
    cursor: pointer;
}

.car-configurator-int-child {
    position: absolute;
    top: -3349px;
    left: 56px;
    background-color: #2f2d2d;
    width: 1374px;
    height: 1225px;
}

.car-configurator-int-item {
    position: absolute;
    top: 396px;
    left: 21px;
    width: 9px;
    height: 31px;
    object-fit: contain;
}

.car-configurator-int-inner {
    position: absolute;
    top: 396px;
    left: 30px;
    width: 9px;
    height: 31px;
    object-fit: contain;
}

.line-icon {
    position: absolute;
    top: 435px;
    left: 31px;
    width: 9px;
    height: 31px;
    object-fit: contain;
}

.car-configurator-int-child1 {
    position: absolute;
    top: 435px;
    left: 21px;
    width: 9px;
    height: 31px;
    object-fit: contain;
}

.vector-icon {
    position: absolute;
    height: 50%;
    width: 75.05%;
    top: 25%;
    right: 12.45%;
    bottom: 25%;
    left: 12.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.icsharp-menu {
    position: absolute;
    top: 0px;
    left: 7px;
    width: 95px;
    height: 79px;
    overflow: hidden;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 8px;
    left: 102px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}

.headliner-h1 {
    width: 236px;
    height: 51px;
    flex-shrink: 0;
    color: #000;
    font-family: "Racing Sans One";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 111px;
    height: 64px;
}

.trion {
    position: absolute;
    top: 17px;
    left: 47%;
    font-size: 71px;
    display: inline-block;
    text-align: left;
    width: 231px;
    height: 62px;
    cursor: pointer;
}

.rectangle-icon {
    position: absolute;
    height: 100%;
    width: 13.64%;
    top: 0.2%;
    right: -15.43%;
    bottom: -0.2%;
    left: 101.79%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.config-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.4);
    width: 195px;
    height: 76.8px;
}

.configure {
    position: absolute;
    top: 24.77px;
    left: 22.73px;
    display: inline-block;
    width: 149.5px;
    height: 27.9px;
}

.config {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 195px;
    height: 76.8px;
}

.interior-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 195px;
    height: 31px;
}

.interior1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 195px;
    height: 31px;
}

.interior {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 195px;
    height: 31px;
    color: #000;
}

.sidebar-car-child {
    position: absolute;
    top: 106px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.4);
    width: 195px;
    height: 371px;
}

.bucket-seats {
    margin: 0;
}

.bucket-seats-star-roof-container {
    position: absolute;
    top: 126px;
    left: 9px;
    text-align: left;
    display: inline-block;
    width: 195px;
    height: 301px;
}

.exterior1 {
    position: absolute;
    top: 3px;
    left: 31.2px;
    display: inline-block;
    width: 132.5px;
    height: 25.4px;
}

.exterior {
    position: absolute;
    top: 478px;
    left: 0px;
    width: 195px;
    height: 31px;
    color: #000;
}

.sidebar-car-item {
    position: absolute;
    top: 509px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.4);
    width: 195px;
    height: 508px;
}

.rims-brake-360-container {
    position: absolute;
    top: 537px;
    left: 9px;
    text-align: left;
    display: inline-block;
    width: 195px;
    height: 347px;
}

.paint {
    position: absolute;
    top: 537px;
    left: 9px;
    text-align: left;
    display: inline-block;
    width: 195px;
    height: 29px;
    cursor: pointer;
}

.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #005fb2;
    width: 154px;
    height: 30px;
}

.confirm {
    position: absolute;
    top: 2px;
    left: 5px;
    display: inline-block;
    width: 144px;
    height: 26px;
}

.rectangle-parent {
    position: absolute;
    top: 951px;
    left: 21px;
    width: 154px;
    height: 30px;
    font-size: 18px;
}

.sidebar-car {
    position: absolute;
    top: 0px;
    right: 0%;
    width: 204px;
    height: 1017px;
    font-size: 20px;
    font-family: Inter;
}

.car-configurator-int {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: Forza;
}

.sidebar {
    height: 100%;
    width: 0%;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0.80) 1.04%, rgba(0, 0, 0, 0.80) 21.44%, rgba(52, 52, 52, 0.80) 47.67%, rgba(114, 114, 114, 0.80) 70.01%, rgba(165, 165, 165, 0.80) 98.18%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 40px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar .list:hover {
    color: #005FB2;
}

.closebtn:hover {
    color: #00294d;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
}

.sidenav a {
    font-size: 18px;
}

/* Misc. */
a {
    display: flex;
    flex-direction: row;
}