@import url('/Fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');


html {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 'forzamedium';
    background-color: #3C3C3C;
}

/* Don't Edit Above */

/* Cover */

.cover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    align-content: space-around;
    flex-direction: row;
}

header {
    width: 100%;
    height: fit-content;
    margin: 0em 2em;
    top: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header:last-child{
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 1em 2em;
}

.trion {
    color: white;
    font-size: xx-large;
    margin: 0;
    font-family: 'forzamedium';
    right: 100%;
}

.navlink {
    text-decoration: none;
    font-family: 'forzamedium';
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 3em;
}

.button {
    background-color: white;
    padding: 2em;
    border-radius: 5em;
    color: black;
    font-weight: bold;
    width: 15em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10em;
    transform: translateX(-10em);
}

.button p {
    margin: 0;
    font-family: forza;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0.80) 1.04%, rgba(0, 0, 0, 0.80) 21.44%, rgba(52, 52, 52, 0.80) 47.67%, rgba(114, 114, 114, 0.80) 70.01%, rgba(165, 165, 165, 0.80) 98.18%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 40px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-family: 'forzamedium';
}

.sidebar .list:hover {
    color: #005FB2;
}

.closebtn:hover {
    color: #00294d;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
}

.sidenav a {
    font-size: 18px;
}

/* IMAGE CAROUSEL */
.mySlides {
    display: none
}

.div-img {
    width: 100%;
    height: 1130px;
    object-fit: fill;
margin: 0;

}

.slideshow-container {
    width: 100%;
    height: 1130px;
    position: relative;
    margin: auto;
    
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}*

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: black;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 5em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'forzamedium';
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #005FB2;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 455px) {
    .prev,
    .next,
    .text {
        font-size: 3em
    }
    .div-img{
        object-fit:cover;
    }
    .div-rr{
        object-position: 35% 100%;
    }
    .div-bo{
        object-position: 50% 100%;
    }
    .div-gt{
        object-position: 40% 100%;
    }
    .div-bw{
        object-position: 45% 100%;
    }
}

/* Two Cards */
.bottom-content>section {
    width: 30%;
    margin: 1em;
}

.short-abtus {
    display: flex;
    justify-content: center;

}

main {
    display: block;
    unicode-bidi: isolate;
    height: 50em;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12em;
    height: 1em;
}

.cards article img,
.card img {
    border: none;
}

.article-img {
    width: 100%;
    height: 50%;
    border: solid 1px darkgrey;
    padding: 1em;
    border-radius: 1em;
}

.rh3 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: 'forzamedium';
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.cards article h2,
.cards article h3,
.cards article p,
.card h2,
.card h3,
.card p {
    padding: 0 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.bp {
    font-size: x-large;
}
.btn{
    color: white;
    background-color: #005FB2;
    padding: 1em;
    border: #005FB2;
    border-radius: 1em;
    font-family: 'Forzabold';
    font-size: x-large;

    cursor: pointer;
}

.btn:hover{
    background-color: #00294d;
    border: #00294d;
    transition:ease-in-out;
}
.cards article,
.card {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
    border: solid 0px darkgrey;
    background-color: rgb(227, 227, 227);
}

.two article {
    width: 48%;
}

article {
    display: block;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

* {
    box-sizing: border-box;
}

.cards article a,
.card a {
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: right;
}   

/* footer */
footer {
    background: #3c3c3c;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Forzamedium';
    color: white;
    margin-top: 12em;
}

.footerimg {
    height: 20px;
    width: 20px;
}
footer div, footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

.sub {
    display: flex;
    flex-direction: row;
}

.subbox {
    background-color: white;
    width: 220px;
    height: 40px;
}

.subboxclick {
    cursor: pointer;
    background-color: black;
    width: 40px;
    height: 40px;
}

/* FOOTER */
footer {
    background: #3c3c3c;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Forzamedium';
    color: white;
}

.footerimg {
    height: 20px;
    width: 20px;
}
footer div, footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

.sub {
    display: flex;
    flex-direction: row;
}

.subbox {
    background-color: white;

    width: 220px;
    height: 40px;
}

.subboxclick {
    cursor: pointer;
    background-color: #005FB2;
    width: 60px;
    height: 40px;
}