@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
html {
    margin: 0;
    
    overflow: hidden;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Don't Edit Above */

main {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    position: absolute;

    color: white;
}

.cover {
    background: url(./img/carday.jpg);
    background-size: cover;
    background-position: bottom;

    width: 100%;
    height: 100vh;

    position: absolute;
}

.menu {
    top: 0;
    left: 0;
    padding-left: 1em;

    height: fit-content;
}

.name {
    top: 0;

    display: flex;
    align-items: center;

    height: fit-content;
}

.name p {
    font-size: 48px;
}

/* Right Box */

.options {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 15em;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.bottomspace {
    margin-bottom: 12em;
    font-family: Forza;
}

.indent {
    margin-left: 20px;
}

.optiontitle {
    color: white !important;
}

.header {
    color: black !important;
}

.text {
    margin-bottom: 1em;
    
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7)
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.transition {
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.transition:hover {
    color: white;
    transform: translateX(1em);

    cursor: pointer;
}

.inside {
    color: black;
    background-color: white;

    width: 100%;

    display:flex;
    flex-direction: row;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 10px;
}

.confirm {
    background-color: #005FB2;
    padding: 1em;
    border-radius: 10em;
    width: 70%;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}