@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

html {
    margin: 0;

    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;

    background-color: #3C3C3C;
    color: white;
}

/* Don't Edit Above */

section {
    width: 50vw;
}

/* Right Side */

img {
    width: 50vw;
    height: 100vh;
}

/* Left Side */

h1, h2, p {
    text-align: center;

    margin: 1em;
}

h1, h2 {
    font-size: 64px;
}

p {
    font-size: 36px;
}

p a {
    text-decoration: none;
}

p a:visited {
    color: #5577A3;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue {
    color: #5577A3;
}
/* FOOTER */
footer {
    background: #3c3c3c;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: Forza;
    color: white;
}

.footerimg {
    height: 20px;
    width: 20px;
}
footer div, footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

.sub {
    display: flex;
    flex-direction: row;
}

.subbox {
    background-color: white;

    width: 220px;
    height: 40px;
}

.subboxclick {
    cursor: pointer;
    background-color: #005FB2;
    width: 40px;
    height: 40px;
}